name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    if: ${{ (github.actor != 'AlterTobi') || (github.actor != 'dependabot[bot]') }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v3
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        issue_message: 'Thanks for your report. I will have a look at it soon.'
        pr_message: 'Thank you for submitting. Please give me some time, as I am busy at the moment.'
